.calculator {
  color: rgb(224, 224, 227);
  width: 300px;
  margin: 0 auto;
  background-color: rgb(44, 43, 41);
  font-family: Helvetica;
  border-radius: 4px;
}

.display {
  padding: 35px 20px 12px;
  text-align: right;
  font-size: 2rem;
}

.button-row {
  display: flex;
}

.button-row div {
  width: 25%;
  text-align: center;
  padding: 25px;
  border: thin solid #292b2a;
}

.button-row div.clear {
  width: 75%;
  background-color: rgb(78 79 75);
}

.button-row div.zero {
  width: 50%;
}

.number {
  background-color: rgb(108 109 105); 
}

.operator {
  background-color: #f29e38;;
}