body {  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table.calculator {
  color: rgb(224, 224, 227);
  width: 300px;
  font-family: Helvetica;
}

td#display {
  background-color: rgb(44, 43, 41);
  padding: 35px 20px 12px;
  text-align: right;
  font-size: 2rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

tr.button-row {
  display: flex;
}

tr.button-row td {
  width: 25%;
  text-align: center;
  padding: 25px;
  border: thin solid #292b2a;
  border-collapse: collapse;
}

tr.button-row td.clear {
  width: 75%;
  background-color: rgb(78 79 75);
  font-size: 1.5rem;
}

tr.button-row td.zero {
  width: 50%;
}

td.number {
  background-color: rgb(108 109 105); 
}

td.operator {
  background-color: rgb(242 158 56);
}

td.bottom-right {
  border-bottom-right-radius: 8px;
}

td.bottom-left {
  border-bottom-left-radius: 8px;
}

tr.button-row td.clear:active {
  background-color: rgb(108 109 105); 
}

td.number:active {
  background-color: #bbbab4;
}

td.operator:active {
  background-color: #8b5a1d;;
}