.calculator {
  color: rgb(224, 224, 227);
  width: 400px;
  margin: 0 auto;
  background-color: rgb(44, 43, 41);
  font-family: Helvetica;
}

.display {
  padding: 35px 20px 12px;
  text-align: right;
  font-size: 2rem;
}

.buttons {
  height: 80%;
}